examples/AMQP Out With RPC Pattern.json
[
  {
    "id": "51855660.beaee8",
    "type": "tab",
    "label": "AMQP Out - RPC Pattern",
    "disabled": false,
    "info": ""
  },
  {
    "id": "d669ed9c.88509",
    "type": "amqp-out",
    "z": "51855660.beaee8",
    "name": "amqp out",
    "broker": "",
    "exchangeName": "",
    "exchangeType": "direct",
    "exchangeRoutingKey": "try_direct",
    "exchangeDurable": true,
    "amqpProperties": "{ \"headers\": {} }",
    "rpcTimeoutMilliseconds": "1000",
    "outputs": 1,
    "x": 400,
    "y": 180,
    "wires": [["3be8a9cd.c73e56"]]
  },
  {
    "id": "66a4d04.070023",
    "type": "amqp-in",
    "z": "51855660.beaee8",
    "name": "Listening for RPC",
    "broker": "",
    "prefetch": 0,
    "noAck": true,
    "exchangeName": "",
    "exchangeType": "direct",
    "exchangeRoutingKey": "try_direct",
    "exchangeDurable": true,
    "queueName": "direct_queue_send_rpc",
    "queueExclusive": false,
    "queueDurable": false,
    "queueAutoDelete": true,
    "headers": "{}",
    "x": 180,
    "y": 280,
    "wires": [["cc4876b1.7f9028"]]
  },
  {
    "id": "726c2d82.dd8c64",
    "type": "inject",
    "z": "51855660.beaee8",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 190,
    "y": 180,
    "wires": [["d669ed9c.88509"]]
  },
  {
    "id": "af057954.669fc8",
    "type": "amqp-out",
    "z": "51855660.beaee8",
    "name": "Send RPC Response",
    "broker": "",
    "exchangeName": "",
    "exchangeType": "direct",
    "exchangeRoutingKey": "",
    "exchangeDurable": true,
    "amqpProperties": "{ \"headers\": {} }",
    "rpcTimeoutMilliseconds": 3000,
    "outputs": 0,
    "x": 620,
    "y": 280,
    "wires": []
  },
  {
    "id": "3be8a9cd.c73e56",
    "type": "debug",
    "z": "51855660.beaee8",
    "name": "RPC Response",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 590,
    "y": 180,
    "wires": []
  },
  {
    "id": "cc4876b1.7f9028",
    "type": "change",
    "z": "51855660.beaee8",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "routingKey",
        "pt": "msg",
        "to": "properties.replyTo",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 390,
    "y": 280,
    "wires": [["af057954.669fc8"]]
  }
]
