examples/AMQP Out With RPC Pattern.json
[
  {
    "id": "eefbe223.cc053",
    "type": "tab",
    "label": "AMQP Out - RPC Pattern",
    "disabled": false,
    "info": ""
  },
  {
    "id": "108e6de3.693562",
    "type": "amqp-out",
    "z": "eefbe223.cc053",
    "name": "amqp out",
    "broker": "3efe01c6.16a3de",
    "exchangeName": "amq.direct",
    "exchangeType": "direct",
    "exchangeRoutingKey": "direct_route",
    "exchangeDurable": true,
    "amqpProperties": "{ \"headers\": {} }",
    "rpcTimeoutMilliseconds": "1000",
    "outputs": 1,
    "x": 360,
    "y": 180,
    "wires": [["6d2ea4fe.b5731c"]]
  },
  {
    "id": "faa23e4.affc0c",
    "type": "amqp-in",
    "z": "eefbe223.cc053",
    "name": "Listening for RPC",
    "broker": "3efe01c6.16a3de",
    "prefetch": 0,
    "noAck": true,
    "exchangeName": "amq.direct",
    "exchangeType": "direct",
    "exchangeRoutingKey": "direct_route",
    "exchangeDurable": true,
    "queueName": "",
    "queueExclusive": false,
    "queueDurable": false,
    "queueAutoDelete": true,
    "headers": "{}",
    "x": 160,
    "y": 280,
    "wires": [["cc27c446.274c18"]]
  },
  {
    "id": "91cf531e.4455c",
    "type": "inject",
    "z": "eefbe223.cc053",
    "name": "",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 170,
    "y": 180,
    "wires": [["108e6de3.693562"]]
  },
  {
    "id": "83f0ae3b.a732f",
    "type": "amqp-out",
    "z": "eefbe223.cc053",
    "name": "Send RPC Response",
    "broker": "3efe01c6.16a3de",
    "exchangeName": "",
    "exchangeType": "direct",
    "exchangeRoutingKey": "",
    "exchangeDurable": true,
    "amqpProperties": "{ \"headers\": {} }",
    "rpcTimeoutMilliseconds": 3000,
    "outputs": 0,
    "x": 600,
    "y": 280,
    "wires": []
  },
  {
    "id": "6d2ea4fe.b5731c",
    "type": "debug",
    "z": "eefbe223.cc053",
    "name": "RPC Response",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 560,
    "y": 180,
    "wires": []
  },
  {
    "id": "cc27c446.274c18",
    "type": "change",
    "z": "eefbe223.cc053",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "routingKey",
        "pt": "msg",
        "to": "properties.replyTo",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "Coming from RPC",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 380,
    "y": 280,
    "wires": [["83f0ae3b.a732f"]]
  }
]
