examples/General Usage.json
[
  {
    "id": "e4fe9c44.6dee1",
    "type": "tab",
    "label": "AMQP General Examples",
    "disabled": false,
    "info": ""
  },
  {
    "id": "19af6507.cc992b",
    "type": "amqp-out",
    "z": "e4fe9c44.6dee1",
    "name": "",
    "broker": "",
    "exchangeName": "amq.topic",
    "exchangeType": "topic",
    "exchangeRoutingKey": "old.routing.key",
    "exchangeDurable": true,
    "amqpProperties": "{\"appId\":\"app-123\"}",
    "x": 550,
    "y": 340,
    "wires": []
  },
  {
    "id": "32ebb2ab.99fc6e",
    "type": "inject",
    "z": "e4fe9c44.6dee1",
    "name": "Topic Input",
    "props": [
      { "p": "payload" },
      {
        "p": "properties",
        "v": "{\"correlationId\":\"correlation-123\",\"headers\":{\"arbitrary\":\"data\"}}",
        "vt": "json"
      },
      { "p": "topic", "vt": "str" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "new.routing.key",
    "payload": "{\"data\":\"the payload\"}",
    "payloadType": "json",
    "x": 140,
    "y": 340,
    "wires": [["19af6507.cc992b"]]
  },
  {
    "id": "716664b4.d3e6fc",
    "type": "debug",
    "z": "e4fe9c44.6dee1",
    "name": "Topic Output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 510,
    "y": 400,
    "wires": []
  },
  {
    "id": "3c555900.750918",
    "type": "amqp-in",
    "z": "e4fe9c44.6dee1",
    "name": "",
    "broker": "",
    "prefetch": 0,
    "noAck": true,
    "exchangeName": "amq.topic",
    "exchangeType": "topic",
    "exchangeRoutingKey": "*.routing.key",
    "exchangeDurable": true,
    "queueName": "",
    "queueExclusive": false,
    "queueDurable": false,
    "queueAutoDelete": true,
    "headers": "",
    "x": 180,
    "y": 400,
    "wires": [["716664b4.d3e6fc"]]
  },
  {
    "id": "c76c0f14.f6bf8",
    "type": "comment",
    "z": "e4fe9c44.6dee1",
    "name": "Topic Exchange Example",
    "info": "",
    "x": 130,
    "y": 280,
    "wires": []
  },
  {
    "id": "985c80c7.32f88",
    "type": "amqp-out",
    "z": "e4fe9c44.6dee1",
    "name": "",
    "broker": "",
    "exchangeName": "amq.fanout",
    "exchangeType": "fanout",
    "exchangeRoutingKey": "",
    "exchangeDurable": true,
    "amqpProperties": "{\"appId\":\"really_new\"}",
    "x": 510,
    "y": 560,
    "wires": []
  },
  {
    "id": "47a41431.e1c49c",
    "type": "inject",
    "z": "e4fe9c44.6dee1",
    "name": "Fanout Input",
    "props": [
      { "p": "payload" },
      {
        "p": "properties",
        "v": "{\"correlationId\":\"yar-123\",\"headers\":{\"arbitrary\":\"data\"}}",
        "vt": "json"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"data\":\"the payload\"}",
    "payloadType": "json",
    "x": 150,
    "y": 560,
    "wires": [["985c80c7.32f88"]]
  },
  {
    "id": "31cf21dd.3de65e",
    "type": "debug",
    "z": "e4fe9c44.6dee1",
    "name": "Fanout Output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 520,
    "y": 640,
    "wires": []
  },
  {
    "id": "da3a3158.c844e",
    "type": "amqp-in",
    "z": "e4fe9c44.6dee1",
    "name": "",
    "broker": "",
    "prefetch": 0,
    "noAck": true,
    "exchangeName": "amq.fanout",
    "exchangeType": "fanout",
    "exchangeRoutingKey": "",
    "exchangeDurable": true,
    "queueName": "",
    "queueExclusive": false,
    "queueDurable": false,
    "queueAutoDelete": true,
    "headers": "",
    "x": 150,
    "y": 620,
    "wires": [["31cf21dd.3de65e"]]
  },
  {
    "id": "e13f5415.b32358",
    "type": "amqp-in",
    "z": "e4fe9c44.6dee1",
    "name": "",
    "broker": "",
    "prefetch": 0,
    "noAck": true,
    "exchangeName": "amq.fanout",
    "exchangeType": "fanout",
    "exchangeRoutingKey": "",
    "exchangeDurable": true,
    "queueName": "",
    "queueExclusive": false,
    "queueDurable": false,
    "queueAutoDelete": true,
    "headers": "",
    "x": 150,
    "y": 680,
    "wires": [["31cf21dd.3de65e"]]
  },
  {
    "id": "91b26155.dc80e",
    "type": "comment",
    "z": "e4fe9c44.6dee1",
    "name": "Fanout Exchange Example",
    "info": "",
    "x": 130,
    "y": 500,
    "wires": []
  },
  {
    "id": "c93fe173.9c98c",
    "type": "amqp-out",
    "z": "e4fe9c44.6dee1",
    "name": "",
    "broker": "",
    "exchangeName": "amq.direct",
    "exchangeType": "direct",
    "exchangeRoutingKey": "old-routing-key",
    "exchangeDurable": true,
    "amqpProperties": "{\"appId\":\"app-123\"}",
    "x": 560,
    "y": 120,
    "wires": []
  },
  {
    "id": "cd5ab12b.e0e04",
    "type": "inject",
    "z": "e4fe9c44.6dee1",
    "name": "Direct Input",
    "props": [
      { "p": "payload" },
      {
        "p": "properties",
        "v": "{\"correlationId\":\"correlation-123\",\"headers\":{\"arbitrary\":\"data\"}}",
        "vt": "json"
      },
      { "p": "routingKey", "v": "new-routing-key", "vt": "str" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"data\":\"the payload\"}",
    "payloadType": "json",
    "x": 150,
    "y": 120,
    "wires": [["c93fe173.9c98c"]]
  },
  {
    "id": "88ed2319.87f56",
    "type": "debug",
    "z": "e4fe9c44.6dee1",
    "name": "Direct Output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 520,
    "y": 180,
    "wires": []
  },
  {
    "id": "66ba8a46.b3ba84",
    "type": "amqp-in",
    "z": "e4fe9c44.6dee1",
    "name": "",
    "broker": "",
    "prefetch": 0,
    "noAck": true,
    "exchangeName": "amq.direct",
    "exchangeType": "direct",
    "exchangeRoutingKey": "new-routing-key",
    "exchangeDurable": true,
    "queueName": "",
    "queueExclusive": false,
    "queueDurable": false,
    "queueAutoDelete": true,
    "headers": "",
    "x": 200,
    "y": 180,
    "wires": [["88ed2319.87f56"]]
  },
  {
    "id": "33421fba.f8418",
    "type": "comment",
    "z": "e4fe9c44.6dee1",
    "name": "Direct Exchange Example",
    "info": "",
    "x": 130,
    "y": 60,
    "wires": []
  },
  {
    "id": "12c8048f.4eaefb",
    "type": "amqp-in",
    "z": "e4fe9c44.6dee1",
    "name": "",
    "broker": "",
    "prefetch": 0,
    "noAck": true,
    "exchangeName": "amq.headers",
    "exchangeType": "headers",
    "exchangeRoutingKey": "",
    "exchangeDurable": true,
    "queueName": "",
    "queueExclusive": true,
    "queueDurable": false,
    "queueAutoDelete": true,
    "headers": "{\"x-match\":\"all\",\"name\":\"header-name\",\"topic\":\"header-topic\"}",
    "x": 150,
    "y": 900,
    "wires": [["8ec3fa87.70c338"]]
  },
  {
    "id": "6eccc4f.c6a2a3c",
    "type": "amqp-out",
    "z": "e4fe9c44.6dee1",
    "name": "",
    "broker": "",
    "exchangeName": "amq.headers",
    "exchangeType": "headers",
    "exchangeRoutingKey": "",
    "exchangeDurable": true,
    "amqpProperties": "{\"appId\":\"really_new\",\"headers\":{\"name\":\"header-name\",\"topic\":\"header-topic\"}}",
    "x": 510,
    "y": 840,
    "wires": []
  },
  {
    "id": "cb5093bf.1d524",
    "type": "inject",
    "z": "e4fe9c44.6dee1",
    "name": "Headers Input",
    "props": [
      { "p": "payload" },
      { "p": "properties", "v": "{\"appId\":\"hello\"}", "vt": "json" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"name\":\"hello-there\"}",
    "payloadType": "json",
    "x": 150,
    "y": 840,
    "wires": [["6eccc4f.c6a2a3c"]]
  },
  {
    "id": "8ec3fa87.70c338",
    "type": "debug",
    "z": "e4fe9c44.6dee1",
    "name": "Headers Output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 520,
    "y": 900,
    "wires": []
  },
  {
    "id": "3f7dd2f6.9db46e",
    "type": "comment",
    "z": "e4fe9c44.6dee1",
    "name": "Headers Exchange Example",
    "info": "",
    "x": 140,
    "y": 780,
    "wires": []
  }
]
