examples/General Usage.json
[
  {
    "id": "9cdadcf5.6c5dd",
    "type": "tab",
    "label": "AMQP General Examples",
    "disabled": false,
    "info": ""
  },
  {
    "id": "d1fa159f.733798",
    "type": "amqp-out",
    "z": "9cdadcf5.6c5dd",
    "name": "",
    "broker": "3efe01c6.16a3de",
    "exchangeName": "amq.topic",
    "exchangeType": "topic",
    "exchangeRoutingKey": "old.routing.key",
    "exchangeDurable": true,
    "amqpProperties": "{\"appId\":\"app-123\"}",
    "x": 550,
    "y": 340,
    "wires": []
  },
  {
    "id": "98eee37.7a0c82",
    "type": "inject",
    "z": "9cdadcf5.6c5dd",
    "name": "Topic Input",
    "props": [
      { "p": "payload" },
      {
        "p": "properties",
        "v": "{\"correlationId\":\"correlation-123\",\"headers\":{\"arbitrary\":\"data\"}}",
        "vt": "json"
      },
      { "p": "topic", "vt": "str" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "new.routing.key",
    "payload": "{\"data\":\"the payload\"}",
    "payloadType": "json",
    "x": 140,
    "y": 340,
    "wires": [["d1fa159f.733798"]]
  },
  {
    "id": "888987cb.5fd418",
    "type": "debug",
    "z": "9cdadcf5.6c5dd",
    "name": "Topic Output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 510,
    "y": 400,
    "wires": []
  },
  {
    "id": "5d5eadb9.55ab14",
    "type": "amqp-in",
    "z": "9cdadcf5.6c5dd",
    "name": "",
    "broker": "3efe01c6.16a3de",
    "prefetch": 0,
    "noAck": true,
    "exchangeName": "amq.topic",
    "exchangeType": "topic",
    "exchangeRoutingKey": "*.routing.key",
    "exchangeDurable": true,
    "queueName": "",
    "queueExclusive": false,
    "queueDurable": false,
    "queueAutoDelete": true,
    "headers": "",
    "x": 180,
    "y": 400,
    "wires": [["888987cb.5fd418"]]
  },
  {
    "id": "85c29ca0.a5f5b",
    "type": "comment",
    "z": "9cdadcf5.6c5dd",
    "name": "Topic Exchange Example",
    "info": "",
    "x": 130,
    "y": 280,
    "wires": []
  },
  {
    "id": "345c8bda.4d50c4",
    "type": "amqp-out",
    "z": "9cdadcf5.6c5dd",
    "name": "",
    "broker": "3efe01c6.16a3de",
    "exchangeName": "amq.fanout",
    "exchangeType": "fanout",
    "exchangeRoutingKey": "",
    "exchangeDurable": true,
    "amqpProperties": "{\"appId\":\"really_new\"}",
    "x": 510,
    "y": 560,
    "wires": []
  },
  {
    "id": "e2f67aa6.ed73b8",
    "type": "inject",
    "z": "9cdadcf5.6c5dd",
    "name": "Fanout Input",
    "props": [
      { "p": "payload" },
      {
        "p": "properties",
        "v": "{\"correlationId\":\"yar-123\",\"headers\":{\"arbitrary\":\"data\"}}",
        "vt": "json"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"data\":\"the payload\"}",
    "payloadType": "json",
    "x": 150,
    "y": 560,
    "wires": [["345c8bda.4d50c4"]]
  },
  {
    "id": "f83bf25d.2a94a",
    "type": "debug",
    "z": "9cdadcf5.6c5dd",
    "name": "Fanout Output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 520,
    "y": 640,
    "wires": []
  },
  {
    "id": "20368e76.d5e112",
    "type": "amqp-in",
    "z": "9cdadcf5.6c5dd",
    "name": "",
    "broker": "3efe01c6.16a3de",
    "prefetch": 0,
    "noAck": true,
    "exchangeName": "amq.fanout",
    "exchangeType": "fanout",
    "exchangeRoutingKey": "",
    "exchangeDurable": true,
    "queueName": "",
    "queueExclusive": false,
    "queueDurable": false,
    "queueAutoDelete": true,
    "headers": "",
    "x": 150,
    "y": 620,
    "wires": [["f83bf25d.2a94a"]]
  },
  {
    "id": "2af1abe6.ce85d4",
    "type": "amqp-in",
    "z": "9cdadcf5.6c5dd",
    "name": "",
    "broker": "3efe01c6.16a3de",
    "prefetch": 0,
    "noAck": true,
    "exchangeName": "amq.fanout",
    "exchangeType": "fanout",
    "exchangeRoutingKey": "",
    "exchangeDurable": true,
    "queueName": "",
    "queueExclusive": false,
    "queueDurable": false,
    "queueAutoDelete": true,
    "headers": "",
    "x": 150,
    "y": 680,
    "wires": [["f83bf25d.2a94a"]]
  },
  {
    "id": "e6d79bd8.3a9ea8",
    "type": "comment",
    "z": "9cdadcf5.6c5dd",
    "name": "Fanout Exchange Example",
    "info": "",
    "x": 130,
    "y": 500,
    "wires": []
  },
  {
    "id": "e38fa05f.705cf",
    "type": "amqp-out",
    "z": "9cdadcf5.6c5dd",
    "name": "",
    "broker": "3efe01c6.16a3de",
    "exchangeName": "amq.direct",
    "exchangeType": "direct",
    "exchangeRoutingKey": "old-routing-key",
    "exchangeDurable": true,
    "amqpProperties": "{\"appId\":\"app-123\"}",
    "x": 560,
    "y": 120,
    "wires": []
  },
  {
    "id": "4c5f0492.c21bfc",
    "type": "inject",
    "z": "9cdadcf5.6c5dd",
    "name": "Direct Input",
    "props": [
      { "p": "payload" },
      {
        "p": "properties",
        "v": "{\"correlationId\":\"correlation-123\",\"headers\":{\"arbitrary\":\"data\"}}",
        "vt": "json"
      },
      { "p": "topic", "vt": "str" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "new-routing-key",
    "payload": "{\"data\":\"the payload\"}",
    "payloadType": "json",
    "x": 150,
    "y": 120,
    "wires": [["e38fa05f.705cf"]]
  },
  {
    "id": "5f5b15e1.b8728c",
    "type": "debug",
    "z": "9cdadcf5.6c5dd",
    "name": "Direct Output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 520,
    "y": 180,
    "wires": []
  },
  {
    "id": "4d4718bd.38b998",
    "type": "amqp-in",
    "z": "9cdadcf5.6c5dd",
    "name": "",
    "broker": "3efe01c6.16a3de",
    "prefetch": 0,
    "noAck": true,
    "exchangeName": "amq.direct",
    "exchangeType": "direct",
    "exchangeRoutingKey": "new-routing-key",
    "exchangeDurable": true,
    "queueName": "",
    "queueExclusive": false,
    "queueDurable": false,
    "queueAutoDelete": true,
    "headers": "",
    "x": 200,
    "y": 180,
    "wires": [["5f5b15e1.b8728c"]]
  },
  {
    "id": "e74091ea.d1eac",
    "type": "comment",
    "z": "9cdadcf5.6c5dd",
    "name": "Direct Exchange Example",
    "info": "",
    "x": 130,
    "y": 60,
    "wires": []
  },
  {
    "id": "fa94c0a1.2ba4d",
    "type": "amqp-in",
    "z": "9cdadcf5.6c5dd",
    "name": "",
    "broker": "3efe01c6.16a3de",
    "prefetch": 0,
    "noAck": true,
    "exchangeName": "amq.headers",
    "exchangeType": "headers",
    "exchangeRoutingKey": "",
    "exchangeDurable": true,
    "queueName": "",
    "queueExclusive": true,
    "queueDurable": false,
    "queueAutoDelete": true,
    "headers": "{\"x-match\":\"any\",\"name\":\"header-name2\",\"topic\":\"header-topic\"}",
    "x": 150,
    "y": 900,
    "wires": [["87c08601.640f88"]]
  },
  {
    "id": "895f6929.8d0df8",
    "type": "amqp-out",
    "z": "9cdadcf5.6c5dd",
    "name": "",
    "broker": "3efe01c6.16a3de",
    "exchangeName": "amq.headers",
    "exchangeType": "headers",
    "exchangeRoutingKey": "",
    "exchangeDurable": true,
    "amqpProperties": "{\"appId\":\"really_new\",\"headers\":{\"name\":\"header-name\",\"topic\":\"header-topic\"}}",
    "x": 510,
    "y": 840,
    "wires": []
  },
  {
    "id": "eea44fb.34bf1b",
    "type": "inject",
    "z": "9cdadcf5.6c5dd",
    "name": "Headers Input",
    "props": [
      { "p": "payload" },
      { "p": "properties", "v": "{\"appId\":\"hello\"}", "vt": "json" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"name\":\"hello-there\"}",
    "payloadType": "json",
    "x": 150,
    "y": 840,
    "wires": [["895f6929.8d0df8"]]
  },
  {
    "id": "87c08601.640f88",
    "type": "debug",
    "z": "9cdadcf5.6c5dd",
    "name": "Headers Output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 520,
    "y": 900,
    "wires": []
  },
  {
    "id": "52e9b9b8.339638",
    "type": "comment",
    "z": "9cdadcf5.6c5dd",
    "name": "Headers Exchange Example",
    "info": "",
    "x": 140,
    "y": 780,
    "wires": []
  },
  {
    "id": "3efe01c6.16a3de",
    "type": "amqp-broker",
    "z": "",
    "name": "default-broker",
    "host": "localhost",
    "port": "5672",
    "vhost": "",
    "tls": false
  }
]
