examples/General Usage.json
[
  {
    "id": "5d5b5450.7ec03c",
    "type": "tab",
    "label": "AMQP General Examples",
    "disabled": false,
    "info": ""
  },
  {
    "id": "e33905f9.0bc958",
    "type": "amqp-out",
    "z": "5d5b5450.7ec03c",
    "name": "",
    "broker": "2253c069.d3d05",
    "exchangeName": "amq.topic",
    "exchangeType": "topic",
    "noAck": true,
    "exchangeRoutingKey": "old.routing.key",
    "exchangeDurable": true,
    "queueName": "",
    "queueExclusive": true,
    "queueDurable": false,
    "queueAutoDelete": true,
    "amqpProperties": "{\"appId\":\"app-123\"}",
    "x": 590,
    "y": 340,
    "wires": []
  },
  {
    "id": "16e3f770.881619",
    "type": "inject",
    "z": "5d5b5450.7ec03c",
    "name": "Topic Input",
    "props": [
      { "p": "payload" },
      {
        "p": "properties",
        "v": "{\"correlationId\":\"correlation-123\",\"headers\":{\"arbitrary\":\"data\"}}",
        "vt": "json"
      },
      { "p": "topic", "vt": "str" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "new.routing.key",
    "payload": "{\"data\":\"the payload\"}",
    "payloadType": "json",
    "x": 140,
    "y": 340,
    "wires": [["e33905f9.0bc958"]]
  },
  {
    "id": "709863ce.3404bc",
    "type": "debug",
    "z": "5d5b5450.7ec03c",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 530,
    "y": 400,
    "wires": []
  },
  {
    "id": "5c112dd6.b13be4",
    "type": "amqp-in",
    "z": "5d5b5450.7ec03c",
    "name": "",
    "broker": "2253c069.d3d05",
    "prefetch": 0,
    "noAck": true,
    "exchangeName": "amq.topic",
    "exchangeType": "topic",
    "exchangeRoutingKey": "*.routing.key",
    "exchangeDurable": true,
    "queueName": "",
    "queueExclusive": false,
    "queueDurable": false,
    "queueAutoDelete": true,
    "x": 180,
    "y": 400,
    "wires": [["709863ce.3404bc"]]
  },
  {
    "id": "a384c451.cecd48",
    "type": "comment",
    "z": "5d5b5450.7ec03c",
    "name": "Topic Exchange Example",
    "info": "",
    "x": 190,
    "y": 280,
    "wires": []
  },
  {
    "id": "75ab855d.97faec",
    "type": "amqp-out",
    "z": "5d5b5450.7ec03c",
    "name": "",
    "broker": "2253c069.d3d05",
    "exchangeName": "amq.fanout",
    "exchangeType": "fanout",
    "noAck": true,
    "exchangeRoutingKey": "",
    "exchangeDurable": true,
    "queueName": "",
    "queueExclusive": true,
    "queueDurable": false,
    "queueAutoDelete": true,
    "amqpProperties": "{\"appId\":\"really_new\"}",
    "x": 550,
    "y": 580,
    "wires": []
  },
  {
    "id": "e79dc283.3b974",
    "type": "inject",
    "z": "5d5b5450.7ec03c",
    "name": "Fanout Input",
    "props": [
      { "p": "payload" },
      {
        "p": "properties",
        "v": "{\"correlationId\":\"yar-123\",\"headers\":{\"arbitrary\":\"data\"}}",
        "vt": "json"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"data\":\"the payload\"}",
    "payloadType": "json",
    "x": 150,
    "y": 580,
    "wires": [["75ab855d.97faec"]]
  },
  {
    "id": "80930025.c98ab",
    "type": "debug",
    "z": "5d5b5450.7ec03c",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 530,
    "y": 660,
    "wires": []
  },
  {
    "id": "eedf8513.b40898",
    "type": "amqp-in",
    "z": "5d5b5450.7ec03c",
    "name": "",
    "broker": "2253c069.d3d05",
    "prefetch": 0,
    "noAck": true,
    "exchangeName": "amq.fanout",
    "exchangeType": "fanout",
    "exchangeRoutingKey": "",
    "exchangeDurable": true,
    "queueName": "fanout-queue2",
    "queueExclusive": false,
    "queueDurable": false,
    "queueAutoDelete": true,
    "x": 150,
    "y": 640,
    "wires": [["80930025.c98ab"]]
  },
  {
    "id": "2fbc3284.b1451e",
    "type": "amqp-in",
    "z": "5d5b5450.7ec03c",
    "name": "",
    "broker": "2253c069.d3d05",
    "prefetch": 0,
    "noAck": true,
    "exchangeName": "amq.fanout",
    "exchangeType": "fanout",
    "exchangeRoutingKey": "",
    "exchangeDurable": true,
    "queueName": "",
    "queueExclusive": false,
    "queueDurable": false,
    "queueAutoDelete": true,
    "x": 150,
    "y": 700,
    "wires": [["80930025.c98ab"]]
  },
  {
    "id": "69a82f52.2e48c",
    "type": "comment",
    "z": "5d5b5450.7ec03c",
    "name": "Fanout Exchange Example",
    "info": "",
    "x": 190,
    "y": 520,
    "wires": []
  },
  {
    "id": "147757f7.dcc228",
    "type": "amqp-out",
    "z": "5d5b5450.7ec03c",
    "name": "",
    "broker": "2253c069.d3d05",
    "exchangeName": "amq.direct",
    "exchangeType": "direct",
    "noAck": true,
    "exchangeRoutingKey": "old-routing-key",
    "exchangeDurable": true,
    "queueName": "",
    "queueExclusive": true,
    "queueDurable": false,
    "queueAutoDelete": true,
    "amqpProperties": "{\"appId\":\"app-123\"}",
    "x": 600,
    "y": 120,
    "wires": []
  },
  {
    "id": "caf153e1.dc06d",
    "type": "inject",
    "z": "5d5b5450.7ec03c",
    "name": "Direct Input",
    "props": [
      { "p": "payload" },
      {
        "p": "properties",
        "v": "{\"correlationId\":\"correlation-123\",\"headers\":{\"arbitrary\":\"data\"}}",
        "vt": "json"
      },
      { "p": "topic", "vt": "str" }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "new-routing-key",
    "payload": "{\"data\":\"the payload\"}",
    "payloadType": "json",
    "x": 150,
    "y": 120,
    "wires": [["147757f7.dcc228"]]
  },
  {
    "id": "e00d387d.3698f8",
    "type": "debug",
    "z": "5d5b5450.7ec03c",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 530,
    "y": 180,
    "wires": []
  },
  {
    "id": "1581c07f.e5fb8",
    "type": "amqp-in",
    "z": "5d5b5450.7ec03c",
    "name": "",
    "broker": "2253c069.d3d05",
    "prefetch": 0,
    "noAck": true,
    "exchangeName": "amq.direct",
    "exchangeType": "direct",
    "exchangeRoutingKey": "new-routing-key",
    "exchangeDurable": true,
    "queueName": "",
    "queueExclusive": false,
    "queueDurable": false,
    "queueAutoDelete": true,
    "x": 200,
    "y": 180,
    "wires": [["e00d387d.3698f8"]]
  },
  {
    "id": "5443e744.4a8718",
    "type": "comment",
    "z": "5d5b5450.7ec03c",
    "name": "Direct Exchange Example",
    "info": "",
    "x": 190,
    "y": 60,
    "wires": []
  },
  {
    "id": "2253c069.d3d05",
    "type": "amqp-broker",
    "z": "",
    "name": "Platform with vhost",
    "host": "localhost",
    "port": "5672",
    "vhost": "hello",
    "tls": false
  }
]
