examples/Manual Ack With Links.json
[
  {
    "id": "c4cc433b.ce72f",
    "type": "tab",
    "label": "AMQP Manual Ack With Links",
    "disabled": false,
    "info": ""
  },
  {
    "id": "1479c6a8.c4a8a9",
    "type": "debug",
    "z": "c4cc433b.ce72f",
    "name": "With \"Link\" Message",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 480,
    "y": 200,
    "wires": []
  },
  {
    "id": "14080307.3d6aed",
    "type": "amqp-in-manual-ack",
    "z": "c4cc433b.ce72f",
    "name": "amqp-in-manual-ack",
    "broker": "3efe01c6.16a3de",
    "prefetch": 0,
    "exchangeName": "amq.topic",
    "exchangeType": "topic",
    "exchangeRoutingKey": "acked.with.link",
    "exchangeDurable": true,
    "queueName": "",
    "queueExclusive": false,
    "queueDurable": false,
    "queueAutoDelete": false,
    "headers": "",
    "x": 240,
    "y": 200,
    "wires": [["1479c6a8.c4a8a9", "524d0aa5.275164"]]
  },
  {
    "id": "524d0aa5.275164",
    "type": "delay",
    "z": "c4cc433b.ce72f",
    "name": "",
    "pauseType": "delay",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 440,
    "y": 260,
    "wires": [["8d3e07b8.e7bc18", "aa3bc4fb.0e3258"]]
  },
  {
    "id": "349588b.159ad78",
    "type": "link in",
    "z": "c4cc433b.ce72f",
    "name": "Send Ack",
    "links": ["8d3e07b8.e7bc18"],
    "x": 75,
    "y": 200,
    "wires": [["14080307.3d6aed"]]
  },
  {
    "id": "8d3e07b8.e7bc18",
    "type": "link out",
    "z": "c4cc433b.ce72f",
    "name": "Acknowledge",
    "links": ["349588b.159ad78"],
    "x": 595,
    "y": 260,
    "wires": []
  },
  {
    "id": "b3eab96e.e169c8",
    "type": "amqp-out",
    "z": "c4cc433b.ce72f",
    "name": "amqp-out",
    "broker": "3efe01c6.16a3de",
    "exchangeName": "amq.topic",
    "exchangeType": "topic",
    "exchangeRoutingKey": "acked.with.link",
    "exchangeDurable": true,
    "amqpProperties": "{\"appId\":\"app-123\"}",
    "x": 380,
    "y": 100,
    "wires": []
  },
  {
    "id": "866858ff.dd8ab8",
    "type": "inject",
    "z": "c4cc433b.ce72f",
    "name": "Topic Input",
    "props": [
      { "p": "payload" },
      {
        "p": "properties",
        "v": "{\"correlationId\":\"correlation-123\",\"headers\":{\"arbitrary\":\"data\"}}",
        "vt": "json"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"data\":\"the payload\"}",
    "payloadType": "json",
    "x": 140,
    "y": 100,
    "wires": [["b3eab96e.e169c8"]]
  },
  {
    "id": "aa3bc4fb.0e3258",
    "type": "debug",
    "z": "c4cc433b.ce72f",
    "name": "After \"Link\" Delay",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 610,
    "y": 320,
    "wires": []
  },
  {
    "id": "3efe01c6.16a3de",
    "type": "amqp-broker",
    "z": "",
    "name": "default-broker",
    "host": "localhost",
    "port": "5672",
    "vhost": "",
    "tls": false
  }
]
