examples/Manual Ack With Complete.json
[
  {
    "id": "da0e69ee.791638",
    "type": "tab",
    "label": "AMQP Manual Ack With Complete",
    "disabled": false,
    "info": ""
  },
  {
    "id": "54883a06.6ce0f4",
    "type": "debug",
    "z": "da0e69ee.791638",
    "name": "With \"Complete\" Message",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 540,
    "y": 180,
    "wires": []
  },
  {
    "id": "42a93135.4cad3",
    "type": "amqp-in-manual-ack",
    "z": "da0e69ee.791638",
    "name": "amqp-in-manual-ack",
    "broker": "",
    "prefetch": "0",
    "exchangeName": "amq.topic",
    "exchangeType": "topic",
    "exchangeRoutingKey": "acked.with.complete",
    "exchangeDurable": true,
    "queueName": "",
    "queueExclusive": false,
    "queueDurable": false,
    "queueAutoDelete": false,
    "headers": "",
    "x": 280,
    "y": 180,
    "wires": [["54883a06.6ce0f4", "e6a075e1.1c4b28"]]
  },
  {
    "id": "e6a075e1.1c4b28",
    "type": "delay",
    "z": "da0e69ee.791638",
    "name": "",
    "pauseType": "delay",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 460,
    "y": 240,
    "wires": [["eb547c9e.cf806"]]
  },
  {
    "id": "eb547c9e.cf806",
    "type": "debug",
    "z": "da0e69ee.791638",
    "name": "After \"Complete\" Delay",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 630,
    "y": 320,
    "wires": []
  },
  {
    "id": "25cc7051.4b336",
    "type": "amqp-out",
    "z": "da0e69ee.791638",
    "name": "amqp-out",
    "broker": "",
    "exchangeName": "amq.topic",
    "exchangeType": "topic",
    "exchangeRoutingKey": "acked.with.complete",
    "exchangeDurable": true,
    "amqpProperties": "{\"appId\":\"app-123\"}",
    "x": 500,
    "y": 80,
    "wires": []
  },
  {
    "id": "b34052fb.fd329",
    "type": "inject",
    "z": "da0e69ee.791638",
    "name": "Topic Input",
    "props": [
      { "p": "payload" },
      {
        "p": "properties",
        "v": "{\"correlationId\":\"correlation-123\",\"headers\":{\"arbitrary\":\"data\"}}",
        "vt": "json"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"data\":\"the payload\"}",
    "payloadType": "json",
    "x": 140,
    "y": 80,
    "wires": [["25cc7051.4b336"]]
  },
  {
    "id": "32b91549.383ffa",
    "type": "complete",
    "z": "da0e69ee.791638",
    "name": "ack",
    "scope": ["eb547c9e.cf806"],
    "uncaught": false,
    "x": 90,
    "y": 180,
    "wires": [["42a93135.4cad3"]]
  }
]
