examples/Manual Ack With Links.json
[
  {
    "id": "6408ba88.c1e304",
    "type": "tab",
    "label": "AMQP Manual Ack With Links",
    "disabled": false,
    "info": ""
  },
  {
    "id": "72db3892.5e0e78",
    "type": "debug",
    "z": "6408ba88.c1e304",
    "name": "With \"Link\" Message",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 480,
    "y": 200,
    "wires": []
  },
  {
    "id": "1129b47c.81b8dc",
    "type": "amqp-in-manual-ack",
    "z": "6408ba88.c1e304",
    "name": "amqp-in-manual-ack",
    "broker": "",
    "prefetch": 0,
    "exchangeName": "amq.topic",
    "exchangeType": "topic",
    "exchangeRoutingKey": "acked.with.link",
    "exchangeDurable": true,
    "queueName": "",
    "queueExclusive": false,
    "queueDurable": false,
    "queueAutoDelete": false,
    "headers": "",
    "x": 240,
    "y": 200,
    "wires": [["72db3892.5e0e78", "8d988bdd.46d508"]]
  },
  {
    "id": "8d988bdd.46d508",
    "type": "delay",
    "z": "6408ba88.c1e304",
    "name": "",
    "pauseType": "delay",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 440,
    "y": 260,
    "wires": [["dc2363d.8f5b9a", "8b98b224.5675"]]
  },
  {
    "id": "9d861002.d13da",
    "type": "link in",
    "z": "6408ba88.c1e304",
    "name": "Send Ack",
    "links": ["dc2363d.8f5b9a"],
    "x": 75,
    "y": 200,
    "wires": [["1129b47c.81b8dc"]]
  },
  {
    "id": "dc2363d.8f5b9a",
    "type": "link out",
    "z": "6408ba88.c1e304",
    "name": "Acknowledge",
    "links": ["9d861002.d13da"],
    "x": 595,
    "y": 260,
    "wires": []
  },
  {
    "id": "be7918ee.7dee98",
    "type": "amqp-out",
    "z": "6408ba88.c1e304",
    "name": "amqp-out",
    "broker": "",
    "exchangeName": "amq.topic",
    "exchangeType": "topic",
    "exchangeRoutingKey": "acked.with.link",
    "exchangeDurable": true,
    "amqpProperties": "{\"appId\":\"app-123\"}",
    "x": 380,
    "y": 100,
    "wires": []
  },
  {
    "id": "2410e130.331b2e",
    "type": "inject",
    "z": "6408ba88.c1e304",
    "name": "Topic Input",
    "props": [
      { "p": "payload" },
      {
        "p": "properties",
        "v": "{\"correlationId\":\"correlation-123\",\"headers\":{\"arbitrary\":\"data\"}}",
        "vt": "json"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"data\":\"the payload\"}",
    "payloadType": "json",
    "x": 140,
    "y": 100,
    "wires": [["be7918ee.7dee98"]]
  },
  {
    "id": "8b98b224.5675",
    "type": "debug",
    "z": "6408ba88.c1e304",
    "name": "After \"Link\" Delay",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 610,
    "y": 320,
    "wires": []
  }
]
