examples/Manual Ack With Complete.json
[
  {
    "id": "f28e7d9c.7dedc",
    "type": "tab",
    "label": "AMQP Manual Ack With Complete",
    "disabled": false,
    "info": ""
  },
  {
    "id": "a4836ac5.35f218",
    "type": "debug",
    "z": "f28e7d9c.7dedc",
    "name": "With \"Complete\" Message",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 540,
    "y": 180,
    "wires": []
  },
  {
    "id": "bc0be85a.14fc58",
    "type": "amqp-in-manual-ack",
    "z": "f28e7d9c.7dedc",
    "name": "amqp-in-manual-ack",
    "broker": "3efe01c6.16a3de",
    "prefetch": "0",
    "exchangeName": "amq.topic",
    "exchangeType": "topic",
    "exchangeRoutingKey": "acked.with.complete",
    "exchangeDurable": true,
    "queueName": "",
    "queueExclusive": false,
    "queueDurable": false,
    "queueAutoDelete": false,
    "headers": "",
    "x": 280,
    "y": 180,
    "wires": [["a4836ac5.35f218", "5c6eb08a.700e4"]]
  },
  {
    "id": "5c6eb08a.700e4",
    "type": "delay",
    "z": "f28e7d9c.7dedc",
    "name": "",
    "pauseType": "delay",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 460,
    "y": 240,
    "wires": [["e689756b.b921b8"]]
  },
  {
    "id": "e689756b.b921b8",
    "type": "debug",
    "z": "f28e7d9c.7dedc",
    "name": "After \"Complete\" Delay",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 630,
    "y": 320,
    "wires": []
  },
  {
    "id": "d47043e2.8c0c9",
    "type": "amqp-out",
    "z": "f28e7d9c.7dedc",
    "name": "amqp-out",
    "broker": "3efe01c6.16a3de",
    "exchangeName": "amq.topic",
    "exchangeType": "topic",
    "exchangeRoutingKey": "acked.with.complete",
    "exchangeDurable": true,
    "amqpProperties": "{\"appId\":\"app-123\"}",
    "x": 500,
    "y": 80,
    "wires": []
  },
  {
    "id": "5c6406fe.a93508",
    "type": "inject",
    "z": "f28e7d9c.7dedc",
    "name": "Topic Input",
    "props": [
      { "p": "payload" },
      {
        "p": "properties",
        "v": "{\"correlationId\":\"correlation-123\",\"headers\":{\"arbitrary\":\"data\"}}",
        "vt": "json"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"data\":\"the payload\"}",
    "payloadType": "json",
    "x": 140,
    "y": 80,
    "wires": [["d47043e2.8c0c9"]]
  },
  {
    "id": "f2839df.8afa16",
    "type": "complete",
    "z": "f28e7d9c.7dedc",
    "name": "ack",
    "scope": ["e689756b.b921b8"],
    "uncaught": false,
    "x": 90,
    "y": 180,
    "wires": [["bc0be85a.14fc58"]]
  },
  {
    "id": "3efe01c6.16a3de",
    "type": "amqp-broker",
    "z": "",
    "name": "default-broker",
    "host": "localhost",
    "port": "5672",
    "vhost": "",
    "tls": false
  }
]
